body {
    background-color: #EEEEEE;
}

.year {
    float: Right;
}

.board {
    float: Right;
}

.Roll {
    float: right;
}

.Reg {
    float: right;
}

#Submit {
    float: right;
}

#Reset {
    float: right;
}

.main-body {
    width: 60%;
    margin: auto;
    border: 2px solid #ffffff;
    background-color: #fff;
    box-shadow: -1px 8px 20px 11px grey;
}

.form {
    border: 2px solid black;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
}

table {
    left: 0;
    right: 0;
    margin: 7vh auto;
}

.table2 {
    display: none;
}

.table2 td {
    border: 1px solid black;
    text-transform: capitalize;
    width: 225px;
}



td {
    width: 10vw;
}

label {
    text-transform: capitalize;
}

select {
    width: 100%;
}



.header {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.header-left {
    float: left;
    width: 20%;
    height: 150px;
    background-color: #D7DBDE;
    position: relative;
}

.header-left img {
    width: 60%;
    height: 60%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.header-right {
    float: left;
    width: 80%;
    height: 100%;
    background-color: green;
}

.header-right .up {
    background-image: url(flag.jpg);
    background-repeat: no-repeat;
    background-color: green;
    background-position: right;
    margin-bottom: 0;
    padding: 0;
}

.header-right .bottom {
    background-color: green;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    border-top: 2px solid #ffffff;
}

.header-right .up p {
    margin: 0;
    padding: 0;
    color: #95E17D;
    text-transform: capitalize;
    padding: 10px;

}

.header-right .bottom h2 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 27px;
}

.header-right .bottom p {
    float: right;
    text-align: right;
    border-top: 1px solid #ffffff;
    margin-bottom: 0;
    color: #ffffff;
    background: linear-gradient(#5BBA56, green, #5BBA56);
    width: 100%;
    text-transform: capitalize;
}

hr {
    color: green;
    height: 10px;
    width: 100%;
}

.p-1 {
    width: 100%;
    height: 2px;
    background-color: green;
    color: #fff;
}

footer {
    overflow: hidden;
}

.left {
    float: left;
    margin-left: 3vw;
}

.right {
    float: right;
    margin-right: 3vw;
}

@media only screen and (max-width: 700px) {
    .main-body {
        width: 90%;
    }

    .form {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .main-body {
        width: 100%;
    }

    .form {
        width: 100%;
    }
}